<div class="animate__animated animate__fadeInDown">

    <h2 class="text-center">Búsqueda</h2>
    <hr>

    <ul class="list-group">
        <li class="list-group-item text-center" routerLink="" [routerLinkActiveOptions]="{exact:true}"
            routerLinkActive="active"> Buscar Pais</li>
        <li class="list-group-item text-center" routerLink="/region" routerLinkActive="active"> Por Región</li>
        <li class="list-group-item text-center" routerLink="/capital" routerLinkActive="active"> Por Capital</li>
    </ul>

</div>